html{
    padding: 0;
    margin:0;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    line-height: 1rem;
}
body{
    position: relative;
}
h1,h2,h3,h4{
    color: goldenrod;
    font-family: 'Pinyon Script', cursive;
    font-weight: 700;
}
img{
    display: block;
    max-width: 100%;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    
}
li{
    list-style: none;
    padding: 1rem;
}
@media(orientation:portrait){
   li{
       padding:.5rem 3rem 0rem .5rem;
   }
   ul{
       margin: auto;
   }
}
div{
    margin:2rem auto;
    width: 80%;
}

a{
    text-decoration: none;
    color: goldenrod;
}

input, textarea{
    display: inline-block;
    background: none;
    border: none;
    border-bottom: 1px goldenrod solid;
    margin-bottom: .5rem;
    max-width:100%;
    width:100%;
}


.btn{
    background-color: goldenrod;
    border:goldenrod .5px solid
}
hr {
    border: none;
    border-top: 3px double goldenrod;
    color: goldenrod;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 6rem;
}
hr:after {
    background: #fff;
    content: '§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

/* components */
.box{
    border-radius: 6px;
    box-shadow: 5px 10px 10px rgb(160, 158, 158) ;
    padding: 2rem;
}
/* layout **************************/
.flex-box {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-between;
}


/* header */
header h1{
    font-family: 'Pinyon Script', cursive;
    color: goldenrod;
    font-weight: 800;
    font-size: 1.8rem;
}
header{
    background-color: rgb(230, 230, 240);
    margin-bottom: 0;
}

/* welcome div */

.welcome{
    text-align: center;
    background-image: url("https://images.unsplash.com/photo-1534088568595-a066f410bcda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1502&q=80");
    height: 70vh;
    font-family: 'Pinyon Script', cursive;
    font-size: 2rem;
    align-items: center;
    padding:6%;
    width: 100%;
    margin-top: 0;
}
.welcome h1{
    font-family:serif;
    font-weight: bolder;
    font-size: 4rem;
    color: rgb(56, 55, 55);
    padding: .5rem 0 .5rem;
}

/* services div */
.services-div{
    text-align: center;
}
.services{
    height: 60vh;
    width: 100%;
}

.services .box{
    height: 80%;
}
@media(orientation:portrait){
    .services {
        height: fit-content;
        justify-content: space-between;
        width:100%
    }
    .services .box{
        margin-top: auto;
        width: 100%;
    }
}

/* About Div */

.about{
    text-align: center;
    min-height: 40vh;
    height: max-content;
    padding-bottom: 3rem;
}

.about-container{
    background-color: rgb(230, 230, 240);
    width: 100%;
}
.about-text{
    clear: left;
    width: 70%;
}
/* bottom-div */
.bottom-div{
    position: relative;
    min-height: 80vh;
}
.contact-form{
    width:40%;
    padding:.5rem;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
}

/* login and search div */

.log-in-search{
    width:50%;
    flex-direction: column;
    text-align: center;
    position:absolute;
    top:5rem;
    right: 0;
}
.log-in-search form{
    width: 100%;
    position: absolute;
}
.search{
    position: absolute;
    right:0;
    top:2.5rem;
   
   }
.search input {
    width:200px;
    border:goldenrod 1px solid
}

footer{
   text-align: center;
   color: goldenrod;
   background-color: rgb(230, 230, 240);
   height: 4rem;
   padding-top: 1.5rem;
}
@media (orientation:portrait) {
    .flex-box{
        flex-direction: column;
    }
    div{
        margin-bottom: 2rem;
        width: 100%;
    }
    .log-in-search{
        position: static;
        margin: auto;
        order: 2;
        width: 100%;
        
    }
    .contact-form{
        position:static;
        margin: auto;
        width: 90%;
        order: 3;
    }
    .bottom-div{
        height: fit-content;
        position:static;
        justify-content: space-between;
        align-items: center;
        height: 150vh;
    }
    .bottom-div :is(form, div){
        box-shadow: none;
    }
    .search{
        position: static;
        order: 0;
        margin-bottom: 0;
      
    }
 textarea{
        height: 100px;    }
}
